@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,600,600i,700,700i,800,800i,900,900i");
.BlockD-back {
  min-height: 100%;
  min-width: 101%;
  background-color: #ffffff;
}
.BlockD-display {
  margin-top: 69px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media screen and (min-width: 1400px) and (max-width: 10000px) {
    max-width: 100%;
  }
}
.BlockD-pic {
  margin: 0px;
  padding: 0px;
  height: 340px;
  width: 343px;
  background-color: rgba(30, 34, 38, 0.2);
  background-repeat: no-repeat;
  background-image: url("https://uploads.codesandbox.io/uploads/user/27849c50-097b-4336-bd17-9bdf58adc822/pAUb-Pic.png");
  @media screen and (min-width: 200px) and (max-width: 950px) {
    height: 1px;
    width: 1px;
    background-size: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.BlockD-pic2 {
  margin: 0px;
  padding: 0px;
  height: 340px;
  width: 343px;
  background-color: #e03e2a;
  @media screen and (min-width: 200px) and (max-width: 950px) {
    height: 100%;
    min-width: 100%;
    background-size: 100%;
  }
}
.BlockD-pic3 {
  margin: 0px;
  padding: 0px;
  height: 340px;
  width: 343px;
  background-color: rgba(30, 34, 38, 0.2);
  background-repeat: no-repeat;
  background-image: url("https://uploads.codesandbox.io/uploads/user/27849c50-097b-4336-bd17-9bdf58adc822/GULK-Pic%20(1).png");
  @media screen and (min-width: 200px) and (max-width: 950px) {
    height: 1px;
    width: 1px;
    background-size: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.BlockD-pic4 {
  margin: 0px;
  padding: 0px;
  height: 340px;
  width: 343px;
  background-color: rgba(30, 34, 38, 0.2);
  background-repeat: no-repeat;
  background-image: url("https://uploads.codesandbox.io/uploads/user/27849c50-097b-4336-bd17-9bdf58adc822/Ydsm-Pic%20(2).png");
  @media screen and (min-width: 200px) and (max-width: 950px) {
    height: 1px;
    width: 1px;
    background-size: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.BlockD-blurred-back {
  margin: 0px;
  padding: 0px;
  height: 340px;
  width: 680px;
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-image: url("https://uploads.codesandbox.io/uploads/user/27849c50-097b-4336-bd17-9bdf58adc822/begK-Pic%20(4)%20(1).png");
}
.BlockD-blurred-back2 {
  margin: 0px;
  padding: 0px;
  height: 340px;
  width: 680px;
  background-color: #1366da;
}
.BlockD-instagram-icon2 {
  margin: 61px auto auto 289px;
  height: 24.42px;
  width: 24.44px;
  opacity: 0.7;
}
.BlockD-instagram-icon {
  margin: 295px auto auto 301px;
  height: 24.42px;
  width: 24.44px;
  opacity: 0.5;
}

.BlockD-top-8-street-style-t {
  margin: 96px auto auto auto;
  height: 96px;
  width: 407px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}
.BlockD-the-soft-sun-collect {
  margin: -17px 198px auto auto;
  height: 36px;
  width: 291px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.BlockD-rectangle-61 {
  margin: 20px 247px auto 243px;
  height: 40px;
  width: 190px;
  border: 0px;
  background-color: #ffffff;
}
.BlockD-text-61 {
  height: 30px;
  width: 92px;
  margin-top: 13px;
  margin-left: 47px;
  color: #1e2226;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
.BlockD-last-news {
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
  height: 18px;
  width: 85px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.BlockD-who-has-taken-beyon {
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  height: 72px;
  width: 233px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.BlockD-it-s-time-to-totall {
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 90px;
  width: 257px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.BlockD-use-hashtag-and-show {
  margin-top: 119px;
  margin-left: auto;
  margin-right: auto;
  height: 36px;
  width: 282px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.BlockD-oval {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.BlockD-oval-27 {
  border-radius: 50%;
  margin-left: 23px;
  box-sizing: border-box;
  height: 43px;
  width: 43px;
  border: 2px solid #ffffff;
}
.BlockD-oval-img {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.BlockD-oval-f {
  // margin: 192px 72px auto 219px;
  margin-left: 219px;
  margin-right: auto;
  margin-top: 192px;
  margin-bottom: auto;
  left: 219px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 43px;
  width: 43px;
  border: 2px solid #ffffff;
  background: #ffffff;
}

.BlockD-about-dink {
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom: auto;
  height: 24px;
  width: 738px;
  color: #1e2226;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.17px;
  line-height: 24px;
  text-align: center;
  @media screen and (min-width: 200px) and (max-width: 950px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.BlockD-online-shop-for-uniq {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: auto;
  height: 96px;
  width: 738px;
  color: #1e2226;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
  @media screen and (min-width: 200px) and (max-width: 950px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.97vw;
  }
  @media screen and (min-width: 1400px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.BlockD-more-info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  margin-bottom: 56px;
  min-height: 18px;
  min-width: 85px;
  color: #1366da;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 18px;
  @media screen and (min-width: 200px) and (max-width: 950px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  @media screen and (min-width: 1400px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.blockD-cercle {
  height: 11px;
  width: 11px;
  background-color: #972a1c;

  border-radius: 10px;
  margin-left: 10px;
}

.blockD-cercle2 {
  height: 11px;
  width: 11px;
  background-color: #bd3524;
  border-radius: 10px;
  margin-left: 10px;
}
.blockD-cercle3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 42px;
  margin-bottom: 10px;
}
.BlockD-june-2016 {
  height: 15px;
  width: 85px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  margin-top: -20px;
}
.BlockD-link-arrow-copy-4 {
  width: 15px;
  height: 15px;
  border: 1px solid #1e2226;
  border-right: 0px;
  border-bottom: 0px;
  transform: rotate(45deg);
  margin-left: 11px;
  @media screen and (min-width: 200px) and (max-width: 950px) {
    width: 0px;
    height: 0px;
    border: 1px solid #ffffff;
  }
}
.BlockD-more-flech {
  font-size: 13px;
  height: 4px;
  width: 4px;
  color: #1366da;
}
