@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,600,600i,700,700i,800,800i,900,900i");
.SubSubHeader__flex-containe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #282e33;
  min-height: 41px;
  min-width: 102%;
  margin-left: -8px;
  @media screen and (min-width: 200px) and (max-width: 950px) {
    flex-direction: column;
    font-size: 1.97vw;
    margin-right: -9px;
  }
}

.SubSubHeader__flex-text {
  color: #c0c5ca;
  min-width: 33%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif";
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 15px;
  @media screen and (min-width: 200px) and (max-width: 950px) {
    font-size: 1.97vw;
  }
}

.SubSubHeader__testbarra {
  color: #c0c5ca;
}
.SubSubHeader__textblanc {
  color: #ffffff;
}

.SubSubHeader__unlimited-n {
  min-height: 15px;
  min-width: 33%;
  color: #c0c5ca;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 15px;
}
